/AzureDevOpsDemo.Test/bin
/AzureDevOpsDemo.Test/obj
/AzureDevOpsDemo/bin
/AzureDevOpsDemo/obj
.vs/AzureDevOpsDemo/v15/Server/sqlite3/db.lock
.vs/AzureDevOpsDemo/v15/Server/sqlite3/storage.ide
.vs/AzureDevOpsDemo/v15/Server/sqlite3/storage.ide-shm
.vs/AzureDevOpsDemo/v15/Server/sqlite3/storage.ide-wal
